.upload-file-backup {
    box-sizing: border-box;
    margin: 0;
    padding: 50px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 10px;
    text-align: center;
}

.upload-form-backup {
    background: #f6f7f7;
    border: 1px solid #c3c4c7;
    padding: 30px;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
    display: block;
}

.update-domain-form {
    margin-top: 8px;
}

.input-update-domain {
    width: 60%;
}

.loader-image {
    width: 20px;
}

#upload-progress {
    width: 100%;
    display: none;
    margin-top: 15px;
}